# GeoTime Classify Examples

All date formats are in the [Unicode Locale Data Markup Language (LDML)](https://unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) format.

In [9]:
import pandas as pd
from IPython.utils import io
from geotime_classify import geotime_classify as gc

In [10]:
GeoTimeClass = gc.GeoTimeClassify(100)

# Example Dataset 1:

This dataset contains latitude, longitude and a date.

All fields are correctly classified, including zero-padded month and day in the `date` field.

In [11]:
pd.read_csv('example_1.csv').tail()

     latitude   longitude        date      value
95 -76.733088 -174.133691  1993-03-14  41.356871
96 -40.785599  -91.011154  2020-06-02  28.407152
97 -72.360866  179.958728  2000-09-13   3.965644
98 -21.094760   52.549315  1986-07-13  33.240188
99  -9.961648  104.370319  1971-01-09  47.191888

In [12]:
with io.capture_output() as captured:
    c_classified=GeoTimeClass.columns_classified('example_1.csv')

In [13]:
for c in c_classified:
    print(f"{c['column']}: {c['classification']}")

latitude: [{'Category': 'Geo', 'type': 'Latitude (number)'}]
longitude: [{'Category': 'Geo', 'type': 'Longitude (number)'}]
date: [{'Category': 'Date', 'Format': 'y-MM-dd', 'Parser': 'Util', 'DayFirst': False}]
value: [{'Category': 'Geo', 'type': 'Latitude (number)'}]

# Example Dataset 2:

In this dataset, `latitude` and `longitude` are labelled `y` and `x` respectively, adding a challenge.

Additionally, this dataset has `city` and `country` (which is a country code). The `ts` column is a long date.

All columns are correctly classified. Note that the date format accounts for the missing zero-padding on the day.

In [17]:
pd.read_csv('example_2.csv').tail()

           y          x         city country                 ts  value
95 -34.88422  150.60036        Nowra      AU   January 24, 2001   6505
96  51.44889    5.51978     Tongelre      NL  November 28, 1999   3884
97  45.35000  126.28333  Shuangcheng      CN  November 14, 1999   7885
98  44.31771    9.32241     Chiavari      IT   December 1, 1979   6175
99  46.09273  -88.64235   Iron River      US  November 21, 1973   7970

In [18]:
with io.capture_output() as captured:
    c_classified=GeoTimeClass.columns_classified('example_2.csv')

In [19]:
for c in c_classified:
    print(f"{c['column']}: {c['classification']}")

y: [{'Category': 'Geo', 'type': 'Latitude (number)'}]
x: [{'Category': 'Geo', 'type': 'Longitude (number)'}]
city: [{'Category': 'City Name'}]
country: [{'Category': 'ISO2'}]
ts: [{'Category': 'Date', 'Format': 'LLLL d, y', 'Parser': 'Util'}]
value: [{'Category': 'None'}]

# Example Dataset 3:


This dataset has a date related challenge: date is now split across 3 columns (`month`, `day`, `year`). These columns are correctly identified.

Additionally a `region` column is introduced and is correctly categorized as `Continent`.

In [20]:
pd.read_csv('example_3.csv').head()

        lat       lng   region place_name  month  day  year  value
0  17.30858  97.01124     Asia     Yangon      1   22  1997   3660
1  40.60538 -73.75513  America   New York     11    5  1983   9859
2  33.41012 -91.06177  America    Chicago      8   21  1982   1906
3  38.58894 -89.99038  America    Chicago      5    9  1991   2960
4  51.67822  33.91620   Europe       Kiev      1   20  2010   9377

In [21]:
with io.capture_output() as captured:
    c_classified=GeoTimeClass.columns_classified('example_3.csv')

In [22]:
for c in c_classified:
    print(f"{c['column']}: {c['classification']}")

lat: [{'Category': 'Geo', 'type': 'Latitude (number)'}]
lng: [{'Category': 'Geo', 'type': 'Longitude (number)'}]
region: [{'Category': 'Continent'}]
place_name: [{'Category': 'City Name'}]
month: [{'Category': 'Month Number'}]
day: [{'Category': 'Day Number'}]
year: [{'Category': 'Year'}]
value: [{'Category': 'None'}]