In [1]:
from typing import List, Optional
from pydantic import BaseModel,Field
import pandas as pd
import json
from geotime_classify import geotime_classify as gc

## geotime_classify schema
Geotime_classify will return classification data in a logical and relable way. For each file there is a Classifications model which is a list of each column's Classification. The Classification model defines the classification of one column of the dataframe. The fuzzyColumn model is only defined when the column header matches a word of interest that geotime_classify looks for.

In [2]:
# geotime_classify pydantic models
  
class fuzzyColumn(BaseModel):
    matchedKey: str= Field( default=None)
    fuzzyCategory: str= Field( default= None)
    ratio: int = Field(default = None)
        
class Classification(BaseModel):
    column: str = None
    category: str = None
    subcategory: str = None
    format: str = None
    match_type: List =[]
    Parser: str = None
    DayFirst:bool = None
    fuzzyColumn: Optional[fuzzyColumn]

class Classifications(BaseModel):
    Classifications: List[Classification]

In [3]:
# The csv filed used for this example
pd.read_csv('example_4.csv').head()

,country,value,Latitude,Longitude,Y/d/m,month_name,month_number,year,Day_name,Day Number,bool
0,Cote d'Ivoire,1,45.499494,12.039393,2018/15/1,January,1,1888,Wednesday,1,T
1,Ghana,2,6.944658,39.240347,2018/15/2,February,2,1987,Monday,2,T
2,Liberia,3,7.944658,40.240347,2018/15/1,January,3,2003,Tuesday,3,F
3,Morocco,4,8.944658,41.240347,2018/15/1,February,4,2004,Thursday,4,T
4,Burkina Faso,5,9.944658,42.240347,2018/15/1,March,5,2005,Friday,5,T

In [11]:
# instantiate the GeoTimeClassify class and run the model over our csv
gc_instantiated=gc.GeoTimeClassify(20)
preds=gc_instantiated.columns_classifed('example_4.csv')

In [10]:
#print output
preds

In [ ]:
print(json.dumps(preds, indent=2))